<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>CarSite - {% block title %}Welcome!{% endblock %}</title>
</head>
<body>
    <div>
        <h1>{% block myhdg %}Welcome to our online car store{% endblock %}</h1>
        {% block body_block %}***{% endblock %}
    </div>
    <div>
        <ul>
            <li class="hbar1"><a href="{% url 'login_here' %}">Login</a></li>
            <li class="hbar1"><a href="{% url 'aboutus' %}">Find out about this site</a></li>
            <li class="hbar1"><a href="{% url 'homepage' %}">Click here to return to the home page</a></li>
            <li class="hbar1"><a href="{% url 'vehicles' %}">Click here to return to the Vehicles page</a></li>
            <li class="hbar1"><a href="{% url 'myorders' %}">Orders</a></li>
        </ul>
    </div>
</body>
</html>
